<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

<title>quetzal-popup-button</title>

<script src="../platform/platform.js"></script>

<link rel="import" href="quetzal-popup-button.html">

<style>
body,
button,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body {
  margin: 0.5in;
}
</style>

</head>

<body>
  <quetzal-popup-button>
    <property name="popup">Here's the popup</property>
    Click me for a popup
  </quetzal-popup-button>
</body>

</html>
