[submodule "polymer-elements"]
	path = polymer-elements
	url = https://github.com/Polymer/polymer-elements.git
[submodule "components/globalize-culture"]
	path = components/globalize-culture
	url = git@github.com:JanMiksovsky/globalize-culture.git
[submodule "components/quetzal-element"]
	path = components/quetzal-element
	url = git@github.com:JanMiksovsky/quetzal-element.git
