[submodule "polymer-elements"]
	path = polymer-elements
	url = https://github.com/Polymer/polymer-elements.git
[submodule "components/globalize-culture"]
	path = components/globalize-culture
	url = git@github.com:JanMiksovsky/globalize-culture.git
[submodule "components/quetzal-element"]
	path = components/quetzal-element
	url = git@github.com:JanMiksovsky/quetzal-element.git
[submodule "components/quetzal-days-of-week"]
	path = components/quetzal-days-of-week
	url = git@github.com:JanMiksovsky/quetzal-days-of-week.git
[submodule "components/quetzal-calendar-day"]
	path = components/quetzal-calendar-day
	url = git@github.com:JanMiksovsky/quetzal-calendar-day.git
[submodule "components/quetzal-calendar-month-with-headings"]
	path = components/quetzal-calendar-month-with-headings
	url = git@github.com:JanMiksovsky/quetzal-calendar-month-with-headings.git
[submodule "components/quetzal-calendar-month"]
	path = components/quetzal-calendar-month
	url = git@github.com:JanMiksovsky/quetzal-calendar-month.git
[submodule "components/quetzal-calendar-week"]
	path = components/quetzal-calendar-week
	url = git@github.com:JanMiksovsky/quetzal-calendar-week.git
[submodule "components/quetzal-month-and-year"]
	path = components/quetzal-month-and-year
	url = git@github.com:JanMiksovsky/quetzal-month-and-year.git
[submodule "components/quetzal-month-name"]
	path = components/quetzal-month-name
	url = git@github.com:JanMiksovsky/quetzal-month-name.git
[submodule "components/quetzal-button"]
	path = components/quetzal-button
	url = git@github.com:JanMiksovsky/quetzal-button.git
[submodule "quetzal-list-box"]
	path = quetzal-list-box
	url = git@github.com:JanMiksovsky/quetzal-list-box.git
[submodule "components/quetzal-list-combo-box"]
	path = components/quetzal-list-combo-box
	url = git@github.com:JanMiksovsky/quetzal-list-combo-box.git
[submodule "components/quetzal-list-box"]
	path = components/quetzal-list-box
	url = git@github.com:JanMiksovsky/quetzal-list-box.git
[submodule "components/quetzal-popup-source"]
	path = components/quetzal-popup-source
	url = git@github.com:JanMiksovsky/quetzal-popup-source.git
[submodule "components/quetzal-popup"]
	path = components/quetzal-popup
	url = git@github.com:JanMiksovsky/quetzal-popup.git
[submodule "components/quetzal-combo-box"]
	path = components/quetzal-combo-box
	url = git@github.com:JanMiksovsky/quetzal-combo-box.git
[submodule "components/quetzal-toggle-button"]
	path = components/quetzal-toggle-button
	url = git@github.com:JanMiksovsky/quetzal-toggle-button.git
