<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

<title>quetzal-auto-size-text-box</title>

<script src="../platform/platform.js"></script>

<link rel="import" href="quetzal-auto-size-text-box.html">

<style>
body,
button,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body {
  margin: 0.5in;
}
</style>

</head>

<body>
  <quetzal-auto-size-text-box minimumLines="2" placeholder="Type all you want!"></quetzal-auto-size-text-box>
</body>

</html>
