<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

<title>quetzal-fixed-aspect</title>

<script src="../platform/platform.js"></script>
<link rel="import" href="quetzal-fixed-aspect.html">

<style>
html {
  height: 100%;
}

body,
button,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body {
  background: #444;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

quetzal-fixed-aspect {
  background: #888;
  flex: 1;
}

#placeholder {
  background: #eee;
  height: 100%;
  position: absolute;
  width: 100%;
}
</style>

<body>
  <quetzal-fixed-aspect aspect="1">
    <div id="placeholder">Hello!</div>
  </quetzal-fixed-aspect>
</body>

</html>
